using System;
using System.Collections.Generic;
using System.Linq;

namespace $projectNs$.Objects.Implementation
{
	public class $tableName$Bo : Entity
	{
		#region Fields
		$fields$

		#endregion

		#region Properties
		$properties$

		$referenceLists$

		#endregion

		#region Methods

		public override Dictionary<string, object> GetColumns()
        {
            return new Dictionary<string, object> 
			{$columnValueMappings$
			};
        }

		#endregion
	}
} 

