using System.Collections.Generic;
using System.ComponentModel;
using System.Diagnostics.CodeAnalysis;
using $projectNs$.Base.Core;

namespace $projectNs$.Objects.Core
{
    public interface IEntity : INotifyPropertyChanged
    {
        IDbContext _context { get; set; }
        int ID { get; set; }
		Dictionary<string, object> GetColumns();
		void Copy (IEntity en);
    }
}
