using System;
using $projectNs$.Repositories.Implementation;

namespace $projectNs$.Base.Core
{
    public interface IUnitOfWork : IDisposable
    {
		$repositories$

        void Complete();
    }
}
