$topComment$

using System;
using $projectNs$.Repositories.Implementation;

namespace $projectNs$.Base.Core
{
    public interface IUnitOfWork : IDisposable
    {
		#region Repositories

		$repositories$

		#endregion

		#region Methods

        void Complete();

		#endregion
    }
}
