		/// <summary>
		/// This class represents the $tableName$ table in the database 
		/// </summary>
		public List<$refTable$Bo> $refTable$sWhereThisIs$tableName$()
		{
			 return Context == null ? null : new BoCollection<$refTable$Bo>(this, Context.Unit.$refTable$Repository.Where(new {$tableName$ = $primaryKeyName$}), "$tableName$");
		}
