
		public $dataType$ $name$
		{ 
			get 
			{ 
				return ($keyPropertyAccessor$<1) ? null : ($fieldName$ ?? ($fieldName$ = Context.Unit.$foreignTableName$Repository.Get($keyPropertyAccessor$)));
			}
			set { $fieldName$ = value; $freignKeyProperty$ = value.$foreignTablePropertyName$; if(SouldNotifyPropertyChanges){ NotifyPropertyChanged("$freignKeyProperty$"); }}
		}