
		public $dataType$ $name$
		{ 
			get 
			{ 
				return ($keyPropertyAccessor$<1) ? null : ($fieldName$ ?? ($fieldName$ = _context.Unit.$foreignTableName$Repository.Get($keyPropertyAccessor$)));
			}
			set { $fieldName$ = value; $freignKeyProperty$ = value.ID; NotifyPropertyChanged("$freignKeyProperty$");}
		}