		
		public BoCollection<$refTable$Bo> $refTable$sWhereThisIs$tableName$()
		{
			 List<$refTable$Bo> list;
			 try { list = Context.Unit.$refTable$Repository.Where(new {$tableName$ = $primaryKeyName$}); }catch(Exception){ list = null; } 
			 return Context == null ? null : new BoCollection<$refTable$Bo>(this, list, "$tableName$");
		}

