using $projectNs$.Base.Core;
using $projectNs$.Objects.Implementation;
using $projectNs$.Repositories.Core;

namespace $projectNs$.Repositories.Implementation
{
    public class $tableName$Repository : Repository<$tableName$Bo>, I$tableName$Repository
    {
        public $tableName$Repository(IDbContext context) : base(context)
        {
            TableName = "$tableName$";
        }
    }
}
